<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <h1>About Us</h1>
    <div th:insert="~{base::parent(~{::section})}"></div>
    <section>
      <h2>Dynamic Content</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae,
        omnis.
      </p>
      <button>Click On Dynamic Content</button>
    </section>
  </body>
</html>
